.chart-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.chart-container .main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 10px;

  display: flex;
  flex-direction: column;
}

.chart-container .main .empty-chart {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.chart-container .main .empty-chart h1 {
  text-align: center;
  font-size: 32px;
}

.chart-container .main .empty-chart a {
  font-size: 18px;
  transition: 0.2s;
}

.chart-container .main .empty-chart a:hover {
  color: #5c9ead;
}

.chart-container .main .shipping {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.chart-container .main .shipping p {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.chart-container .main .shipping p span {
  font-weight: bold;
  color: #5c9ead;
}

.chart-container .main .shipping p span:nth-child(2) {
  font-size: 28px;
}

.chart-container .main .mainInfo {
  display: flex;
}

.chart-container .main .mainInfo .products {
  flex: 1;
}

.chart-container .main .mainInfo .checkout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-container .main .mainInfo .checkout p {
  font-size: 18px;
  margin-bottom: 10px;
}

.chart-container .main .mainInfo .checkout a {
  color: #5c9ead;
  font-size: 18px;
  transition: 0.2s;
  border: 2px solid #5c9ead;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.chart-container .main .mainInfo .checkout a:hover {
  color: #fff;
  background-color: #5c9ead;
}

@media (max-width: 768px) {
  .chart-container .main .mainInfo {
    flex-direction: column;
  }

  .chart-container .main .mainInfo .checkout {
    margin-top: 40px;
  }
}
