.chart-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.chart-container .main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 10px;

  display: flex;
  flex-direction: column;
}

.chart-container .main .empty-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container .main .empty-chart h1 {
  text-align: center;
  font-size: 32px;
}

.chart-container .main .empty-chart a {
  color: #000;
  font-size: 18px;
  transition: 0.2s;
}

.chart-container .main .empty-chart a:hover {
  color: #5c9ead;
}
