.home-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.home-container .main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 10px;
}

.home-container .main .ordination {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.home-container .main .ordination div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-container .main .ordination h2 {
  margin-right: 10px;
  font-size: 24px;
}

.home-container .main .ordination button {
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px 10px;
  transition: 0.2s;
  outline: none;
  border-radius: 5px;
  background-color: #ededed;
}

.home-container .main .ordination button:hover {
  background-color: #5c9ead;
  color: #fff;
}

.home-container .main h1 {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

.home-container .main .products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;
}
