.product-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.product-container .main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-container .main .image,
.product-container .main .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-container .main .image {
  align-items: center;
}

.product-container .main .image img {
  width: 300px;
  height: auto;
}

.product-container .main .image a {
  font-size: 18px;
  transition: 0.2s;
  margin-top: 50px;

  padding: 10px;
  border-radius: 5px;
  background-color: #ededed;
}

.product-container .main .image a:hover {
  background-color: #5c9ead;
  color: #fff;
}

.product-container .main .info h1 {
  font-size: 30px;
}

.product-container .main .info p {
  font-size: 20px;
}

.product-container .main .info p span {
  font-size: 25px;
  color: #5c9ead;
}

.product-container .main .info .quantity {
  display: flex;
  background-color: #ededed;
  width: 200px;
  margin-top: 30px;
}

.product-container .main .info .quantity input {
  width: 130px;
  border: none;
  background-color: #ededed;
  outline: 0;
  text-align: center;
}

.product-container .main .info .quantity button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #5c9ead;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  outline: 0;
}

.product-container .main .info .chart {
  margin-top: 30px;
  border: 3px solid #5c9ead;
  border-radius: 5px;
  padding: 10px 20px;
  width: 200px;
  transition: 0.2s;
}

.product-container .main .info .chart:hover {
  background-color: #5c9ead;
  color: #fff;
}

@media (max-width: 768px) {
  .product-container .main {
    flex-direction: column;
  }

  .product-container .main .image,
  .product-container .main .info {
    align-items: center;
  }

  .product-container .main .image a {
    margin-top: 10px;
  }

  .product-container .main .info {
    margin-top: 30px;
  }

  .product-container .main .info h1 {
    text-align: center;
  }
}
