.item {
  display: flex;
  align-items: center;

  border-bottom: 2px solid #5c9ead;
  margin-bottom: 10px;
  padding: 10px 0;
  min-width: 200px;
}

.item img {
  width: 80px;
  height: 80px;
}

.item .info-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item .info-item .info {
  margin: 5px 0;
}

.item .info-item .quantity {
  display: flex;
  background-color: #ededed;
  width: 110px;
}

.item .info-item .quantity input {
  width: 50px;
  border: none;
  background-color: #ededed;
  outline: 0;
  text-align: center;
}

.item .info-item .quantity button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #5c9ead;
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  outline: 0;
}
